# Ignore artifacts
dist
build
Pods
target
.cxx

# Ignore hermes
packages/host/hermes
packages/node-addon-examples/examples
packages/node-tests/node
packages/node-tests/tests
packages/node-tests/*.generated.js
