*.binlog
*.hprof
*.xcworkspace/
*.zip
.gradle/
.idea/
.vs/
.xcode.env
Pods/
build/
local.properties
msbuild.binlog

# Ignoring the Podfile.lock as the `react-native-node-api-modules` hash updates too frequently
Podfile.lock
